.start-location-map-section {
  margin: 20px;

  .location-information {
    text-align: center;
    margin-top: 20px;

    span {
      color: #5a5a5a;
      border-bottom: solid 1px #ccc;
      padding-bottom: 5px;
    }
  }
}

.searchbox-section {
  position: relative;
  margin-bottom: 20px;

  input {
    padding-right: 40px;
    font-size: 14px;
    line-height: 1.8;
  }

  .search-btn {
    height: 15px;
    position: absolute;
    top: 12px;
    right: 15px;
    z-index: 10;
    cursor: pointer;
  }
}
